*.json
*.jsonl
*.p
gsm/grade-school-math/
__pycache__/
*.swp
range*/
*.swo
*.sh
.DS_store
*.ipynb
*.ipynb_checkpoints/
*.ttf
*data/
*.png
mmlu/cais/
nomic-ai/
hendryck/hendrycks_math/
hendryck/math/
mmlu/mmlu/
cais/
gpqa/
*.csv